.search {
  position: absolute;
  top: 40%;
  left: 37%;
}
.search input {
  position: relative;
  width: 250px;
  border: none;
  color: #c3e0e5;
  border-radius: 10px;
  padding: 8px 5px;
  background-color: #5885af;
  text-align: center;
}
::placeholder {
  color: white;
}
